# Maven target directory
/target/

# Eclipse specific files
.classpath
.project
.settings/

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# MacOS specific files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

# Compiled class files
*.class

# Package Files #
*.jar
*.war
*.ear 